<!-- user_management/templates/user_management/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>List of Kits</h1>
    <ul>
        {% for user in users %}
            <li> <a href="{% url 'user_detail' user.id %}">{{ user.name }} - {{ user.sex }} - {{ user.age }} - {{ user.dietary_restrictions }}</li>
        {% empty %}
            <li>No users registered yet.</li>
        {% endfor %}
    </ul>

    <!-- <a href="{% url 'register' %}">Add New User</a> -->

</body>
</html>
