<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <style>
        /* Add CSS style to make text bold */
        .bold-text {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Recommendations</h1>
    <ul>
        {% for recommendation in recommendations %}
            {% if "=>" in recommendation %}
                <!-- If recommendation contains ":", make it bold -->
                <span class="bold-text">{{ recommendation }}</span>
                <br>
            {% elif recommendation == "" %}
                <!-- If recommendation is empty, print a line break -->
                <br>
            {% else %}
                <!-- Otherwise, render the recommendation as a link -->
                <li>{{ recommendation|safe }}</li>
            {% endif %}
        {% empty %}
            <!-- If there are no recommendations, display a message -->
            <span>No recommendations</span>
        {% endfor %}
    </ul>
    <br>
    <!-- Add a button to navigate back -->
    <a href="{% url 'kits_detail' user.id %}"><button type="button">Back</button></a>

</body>
</html>
