<!-- user_management/templates/user_management/register.html -->
<!-- user_management/templates/user_management/register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Member Registration</title>
</head>
<body>
    <h1>Family Member Registration</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        <a href="{% url 'manage_users' %}"><button type="button">Cancel</button></a>
    </form>
</body>
</html>